{% macro displaySearchList(data) %} {% for news in data %}
<div>
  <h1>{{news.title}}</h1>
  <p>{{news.description}}</p>
  <img src="{{news.image}}" alt="" width="300" />
  <p>
    {{news.time | truncate(15)}}
    <a href="{{news.url}}"> Read article</a>
  </p>
</div>
{% endfor %} {% endmacro %} 
{% macro displayArticles(articles) %} 
<div class="articles-box container">
  {% for article in articles %}
  <div class="articles">
    <div class="div">
      <h6 class="art-title">{{article.title}}</h6>
      <p>
        {{article.description}}
        <br />
        <a href="{{article.url}}"> Read article</a>
      </p>
      <p>Posted on: {{article.time | truncate(13)}}</p>
    </div>
    <div>
      <img class="img-fluid" src="{{article.image}}" alt="" width="" />
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
