{% block content %}
<link href="{{url_for('static',filename='css/navbar.css')}}" rel="stylesheet" />
<div class="navbar">
  <div class="container-fluid">
    <div class="to-flex">
      <div>
        <img
          src="{{url_for('static',filename='Assets/favicon.ico')}}"
          class="me-2"
          alt=""
          width=""
          height=""
        />
        <a class="brand-name" href="/">The NEWS Hub</a>
    </div>
  </div>
    <div class="homelinks">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/business">Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/technology">Tech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sports">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/science">Science</a>
        </li>
      </ul>
    </div>
    <div id="form">
      <form>
        <input
          class="form-control"
          type="text"
          placeholder="Search..."
          name="news_query"
          aria-label="Search"
        />
        <button type="submit" class="btn btn-secondary btn-xs">Search</button>
      </form>
    </div>
  </div>
</div>
{% endblock%}
